.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/806f8027-a6dc-4e02-a964-31d353c4db11-1500w.jpg");
}
.index-container1 {
  flex: 0 0 auto;
  width: 308px;
  height: 313px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: #00037b;
  border-width: 1px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(237, 239, 255, 0.51);
}
.index-text {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.index-navlink {
  width: 272px;
  cursor: pointer;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  border-radius: 24px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-navlink1 {
  width: 272px;
  cursor: pointer;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  border-radius: 24px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
